* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content:"";
  display:block;
  clear:both;
}

.mainvisual {
	width: 100%;
	height: 400px;
	background-image: url(img/mv.jpg);
	background-size: cover;
	background-position: bottom;
}

.mainvisual p {
	font-size: 30px;
	padding-top: 20px;
	padding-left: 20px;
	color: grey;
	font-weight: bold;
}

main {
	margin: 50px auto;
	width: 840px;
}

.main-box1 {
	margin-bottom: 30px;
	color: grey;
	border-bottom: 1px solid #d1d1d1;
	padding-bottom: 30px;
}

.main-box2 {
	margin-bottom: 30px;
	padding-bottom: 30px;
	color: grey;
	border-bottom: 1px solid #d1d1d1;
	border-top: : 1px solid #d1d1d1;
}

.main-box3 {
	margin-bottom: 30px;
	padding-bottom: 30px;
	color: grey;
	border-bottom: 1px solid #d1d1d1;
	border-top: : 1px solid #d1d1d1;
}

.main-box4 {
	margin-bottom: 30px;
	padding-bottom: 30px;
	color: grey;
	border-bottom: 1px solid #d1d1d1;
	border-top: : 1px solid #d1d1d1;
}