* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}

.clearfix::after {
	content:"";
	display:block;
	clear:both;
}

header {
	width: 100%;
	height: 70px;
	background-color: #ec715f;

}

header .headline {
	width: 1024px;
	text-align: center;
}

.headline-img {
	background-image: url(img/logo.png);
	float: left;
}

.nav-list {
	list-style: none;
	
}

